# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/
.mops/
.vessel/

# frontend code
node_modules/
dist/
src/declarations/
src/IDLs/

#Unity
/assets/*
/dist/*